header{
font-size: 200px;
text-align: center;
font-family: 'Bebas Neue', cursive;
    background: radial-gradient(blue, tan, gold)
}
nav li{
    width: 100%;
    text-align: inline;
    padding: 1% 0;
    display: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
}
nav a:hover{
    background-color: white;
}
header h1 {
    margin:100px;
}


header h1:first-of-type {
    margin:0;
}


body{
    background: radial-gradient(blue, tan, gold)
}

blockquote{
    text-align: center;
    font-size: 10vw;
}
main{
    background: -moz-radial-gradient(gold, tan, blue)
}

section {
    padding: 150px 20%;
    text-justify: inter-word;
}

p{
    font-size: 2.5em;
}

footer {
    font-size: 100px;
    text-align: center;
font-family: 'Bebas Neue', cursive;
}

.button {
    text-align: center;
    font-size: 3vw;
    width: 40%;
    margin: 0 30%;
}

content{
    font-size: 100px;
    text-align: center;
}
h1{
font-size: 50px;
}

.responsive {
    width: 100%;
    height: auto;
  }

  .column {
    float: left;
    text-align: center;
    width: 33%;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }

  img {
width: 30vw;
  }

  figcaption {
    background-color: black;
    color: white;
    max-width: 400px;
    font-size: 30px;
    display: block;
    text-align: center;
    top: 0;
  }

  figure {
    position: relative;
    float: left;
  }

  .page {
    font-size: 50px;
  }

  h3 {
    float: right;
    width: 60%;
    font-size: 30px;
  }

  .sectionclassimages {
    float: left;
  }